$darkcode: (
  content-code-color: #FBE016,
  content-code-in-pre-color: #fcfcfa,
  content-code-background-color: #000102,
  content-pre-color: #eee,
  content-pre-number-color: #666,
  content-pre-background-color: #000102,
  content-pre-border-background-color: rgba(243, 242, 241, 0.1),
  content-pre-header-background-color: #000102,
  content-pre-header-color: #FCFCFA,
);